html, body, #app {
  height: 100%;
  margin: 0;
}

.canvas-wrap {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #181a1d;
}

canvas {
  height: 96%;
  width: 96%;
  margin: auto;
  display: block;
  background: #0d0f12;
  border: 1px solid #333;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 8px;
  color: white;
  font-family: sans-serif;
  margin: 24px;
}